<apex:page standardcontroller="Fund_Risk_Profile_Detail__c" extensions="FundRiskProfileDetailPage_Controller" action="{!updateDate}">
    <apex:form id="myform">
        <apex:messages id="msg" style="color:red; font-weight:bold;"/>
        <apex:pageBlock id="myPB" >
            <apex:pageBlockSection title="Existing Fund Risk Profile Detail" columns="1">
            <apex:pageBlockTable value="{!oldFRPDWrapperList}" var="frpdWrapper" id="mytable">
                <apex:column >
                    <apex:facet name="header">Delete</apex:facet>
                    <apex:inputCheckbox value="{!frpdWrapper.isDeleted}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Name</apex:facet>
                    <apex:inputField value="{!frpdWrapper.frpd.Name}"/>
                    <!--<apex:outputField value="{!brpdWrapper.brpd.Name}"/>-->
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Fund Risk Profile</apex:facet>
                    <apex:outputField value="{!frpdWrapper.frpd.Fund_Risk_Profile__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Fund</apex:facet>
                    <apex:inputField value="{!frpdWrapper.frpd.Fund__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Investment Code</apex:facet>
                    <apex:inputField value="{!frpdWrapper.frpd.Investment_Code__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Date</apex:facet>
                    <apex:inputField value="{!frpdWrapper.frpd.Date__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Fund Weight</apex:facet>
                    <apex:inputField value="{!frpdWrapper.frpd.Current_Weight__c}" required="true"/>
                </apex:column>
            </apex:pageBlockTable>
            </apex:pageBlockSection>
            
            <br/>
            
            <apex:pageBlockSection id="mypbs" title="New Fund Risk Profile Detail" columns="1">
            <apex:pageBlockTable value="{!newFRPDWrapperList}" var="frpdWrapper" id="mytable">
                <apex:column >
                    <apex:facet name="header">Delete</apex:facet>
                    <apex:inputCheckbox value="{!frpdWrapper.isDeleted}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Name</apex:facet>
                    <apex:inputField value="{!frpdWrapper.frpd.Name}"/>
                    <!--<apex:outputField value="{!brpdWrapper.brpd.Name}"/>-->
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Fund Risk Profile</apex:facet>
                    <apex:outputField value="{!frpdWrapper.frpd.Fund_Risk_Profile__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Fund</apex:facet>
                    <apex:inputField value="{!frpdWrapper.frpd.Fund__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Investment Code</apex:facet>
                    <apex:inputField value="{!frpdWrapper.frpd.Investment_Code__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Date</apex:facet>
                    <apex:inputField value="{!frpdWrapper.frpd.Date__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Fund Weight</apex:facet>
                    <apex:inputField value="{!frpdWrapper.frpd.Current_Weight__c}" required="true"/>
                </apex:column>
            </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:commandButton action="{!addFundRiskProfileDetail}" rerender="mypbs,msg" value="Add Fund Risk Profile Detail"/>
        </apex:pageBlock>
        
        <div align="center">
        <apex:commandButton action="{!cancel}" value="Cancel"/>
        <apex:commandButton action="{!save}" value="Save"/>
        </div>
    </apex:form>
</apex:page>