<apex:page showHeader="false">
	<c:SP_MainHeader />
	<body>
	<div class="main-wrapper">
	<div class="header-wrapper"><c:SP_MainLogo />
	<div class="profile-status"><apex:outputLink style="border-left:1px solid #818181;"
		value="{!$Site.Prefix}/secur/logout.jsp"
		rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">{!$Label.site.logout}</apex:outputLink>
	<a href="#" style="border-right: 1px solid #434343;">Profile</a></div>
	<!--profile-status--></div>
	<!--header-wrapper -->
	<div id="primary-navigation">
	<ul>
		<li class="active"><a href="../apex/HomePortal">Home</a></li>
		<li><a href="../apex/ListDocuments">List Documents</a>
		<li><a href="https://www.lonsec.com.au" target="_blank">Equities</a></li>
		<li><a href="../apex/SavedPortfolio">Saved Portfolio</a></li>
		</li>
	</ul>
	</div>
	<!--primary-navigation -->

	<div class="fixed-container">
	<div class="main-content">Home</div>
	<!--main-content --></div>
	<!--fixed-container --> <c:SW_MainFooter /></div>
	<!--main-wrapper -->
	</body>
</apex:page>