<apex:page controller="DocumentRepositoryListController"
	showHeader="false">
	<c:SP_MainHeader />
	<body>
	<div class="main-wrapper">
	<div class="header-wrapper"><c:SP_MainLogo />
	<div class="profile-status"><apex:outputLink style="border-left:1px solid #818181;"
		value="{!$Site.Prefix}/secur/logout.jsp"
		rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">{!$Label.site.logout}</apex:outputLink>
	<a href="#" style="border-right: 1px solid #434343;">Profile</a></div>
	<!--profile-status--></div>
	<!--header-wrapper -->
	<div id="primary-navigation">
	<ul>
		<li><a href="../apex/HomePortal">Home</a></li>
		<li class="active"><a href="../apex/ListDocuments">List
		Documents</a>
		<li><a href="https://www.lonsec.com.au">Equities</a></li>
		<li><a href="../apex/SavedPortfolio">Saved Portfolio</a></li>
		</li>
	</ul>
	</div>
	<!--primary-navigation -->

	<div class="fixed-container">
	<div class="main-content"><apex:form >
		<!--DOCUMENT TYPE-->
		<div style="height: 30px; line-height: 30px;">
		<h1 style="margin-right: 5px;">Search Filters for List Documents</h1>
		<apex:actionStatus id="status">
			<apex:facet name="start">
				<apex:image value="{!URLFOR($Resource.AjaxAnimation)}" />
			</apex:facet>
		</apex:actionStatus></div>
		<apex:selectList id="listVal1" size="1" value="{!docRepDocTypeString}"
			onclick="support1">
			<apex:actionSupport event="onchange" id="support1"
				action="{!getDocumentList}" rerender="ListViewDocument"
				status="status" />
			<apex:selectOptions value="{!DocRep}" />
		</apex:selectList>
		<!--FUND-->
		<apex:selectList id="listVal2" size="1" value="{!docRepFundString}"
			onclick="support2">
			<apex:actionSupport event="onchange" id="support2"
				action="{!getDocumentList}" rerender="ListViewDocument"
				status="status" />
			<apex:selectOptions value="{!docRepFunds}" />
		</apex:selectList>
		<!--SECTOR-->
		<apex:selectList id="listVal3" size="1" value="{!docRepSectorString}"
			onclick="support3">
			<apex:actionSupport event="onchange" id="support3"
				action="{!getDocumentList}" rerender="ListViewDocument"
				status="status" />
			<apex:selectOptions value="{!docRepSector}" />
		</apex:selectList>
		<!--AUTHOR-->
		<apex:selectList id="listVal4" size="1" value="{!docRepAuthorString}"
			onclick="support4">
			<apex:actionSupport event="onchange" id="support4"
				action="{!getDocumentList}" rerender="ListViewDocument"
				status="status" />
			<apex:selectOptions value="{!docRepAuthor}" />
		</apex:selectList>
		<apex:commandButton styleClass="btn-small" value="Clear Filters"
			action="{!clearFilter}" rerender="ListViewDocument" />
		<!--<apex:commandButton value="Search" action="{!getDocumentList}" rerender="ListViewDocument"/>-->
		<apex:pageBlock >
			<apex:pageBlockTable styleClass="tbl-style" value="{!documents}"
				var="document" id="ListViewDocument">
				<apex:column headerValue="Document Name">{!document.name}</apex:column>
				<apex:column headerValue="Document Type">{!document.docType}</apex:column>
				<apex:column headerValue="Fund">{!document.docFund}</apex:column>
				<apex:column headerValue="Sector">{!document.docSector}</apex:column>
				<apex:column headerValue="Author">{!document.docAuthor}</apex:column>
				<apex:column headerValue="Document Download">
					<apex:commandLink value="Download" action="{!kickDownload}">
						<apex:param name="download" value="{!document.id}"
							assignTo="{!docDownloadId}" />
					</apex:commandLink>
				</apex:column>
			</apex:pageBlockTable>
		</apex:pageBlock>
	</apex:form></div>
	<!--main-content --></div>
	<!--fixed-container --> <c:SW_MainFooter /></div>
	<!--main-wrapper -->
	</body>
</apex:page>