<apex:page >
	<apex:form >
		<apex:pageBlock >
		<apex:pageBlockSection columns="1">
		<apex:outputLink value="{!URLFOR($Page.SW_FundPortalManager)}">Fund Manager Quarter Update Create</apex:outputLink><br/>
		<apex:outputLink value="{!URLFOR($Page.SW_TemplateCreate)}">Fund Manager Template Create</apex:outputLink>
		</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>