<apex:component >
    <!--
        Description: Used in VF to create a funky ajax blurred background effect
                     Improved on the open-source version by centering without
                     javascript (purely in CSS). Does require additional margintop
                     and marginleft attributes, which are 50% of the height and width
                     respectively
    -->



    <!-- Attribute Definitions -->
    <apex:attribute name="BorderColor" type="String" required="true" description=""></apex:attribute>
    <apex:attribute name="Width" type="String" required="true" description=""></apex:attribute>
    <apex:attribute name="Height" type="String" required="true" description=""></apex:attribute>
    <apex:attribute name="MarginTop" type="String" required="true" description=""></apex:attribute>
    <apex:attribute name="MarginLeft" type="String" required="true" description=""></apex:attribute>
    <apex:attribute name="BackColor" type="String" required="true" description=""></apex:attribute>
    <apex:attribute name="BorderSize" type="String" required="true" description=""></apex:attribute>
    <apex:attribute name="ImageUrl" type="String" required="false" description=""></apex:attribute>
    <apex:attribute name="Message" type="String" required="false" description=""></apex:attribute>
    <apex:attribute name="messageStyle" type="String" required="false" description="Message inline style"></apex:attribute>
    <apex:attribute name="BorderStyle" type="String" default="solid" required="false" description="Message box border style: solid, outset, inset, etc"></apex:attribute>

	<style>
		.action-status-box {
			-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
			-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px; 
			-khtml-border-radius: 5px; 
			border-radius: 5px; 			
		}
		
		.action-status-blur {
			position: fixed;
			left: 0px;
			top: 0px;
			filter:alpha(opacity=50); /* IE */
    		opacity: 0.5; /* Safari, Opera */
    		-moz-opacity:0.50; /* FireFox */
    		background-color: #dcdcdc;
		    height: 100%;
		    width: 100%;
		    background-repeat:no-repeat;
		    background-position:center;
		    z-index:998;
   		}

	</style>

    <div id="salesforceSource_blurrybackground" class="action-status-blur" 
    		onmouseover="PreventFocus();"
    		onmouseout="PreventFocus();">
    </div>
    <div tabindex="-1" id="salesForceSource_StatusBox" 
    		onblur="PreventFocus();"
    		style="position:fixed; left:50%; top: 50%; margin-top:{!MarginTop}; margin-left:{!MarginLeft}; opacity:1;filter:alpha(opacity=100);z-index:999;">
        <div tabindex="1" id="action-status-focuser" style="position:relative" onblur="PreventFocus();"></div>
        <table id="action-status-table" class="action-status-box" cellpadding="0" cellspacing="0"
        		style="border: {!BorderColor} {!BorderStyle} {!BorderSize}px;
		                width: {!Width}; height:{!Height};
        		         background-color:{!BackColor};">
            <tr>
                <td align="center" style="vertical-align:middle;">
                    <table border="0" cellpadding="4" cellspacing="0" style="width: 100%; height: 100%; border: 0">
                        <tr>
                            <td style="vertical-align:middle; text-align: center; padding-left:10px; padding-right: 10px">
                                <img src="{!ImageUrl}" style="position:relative; top: 2px;"/>
                            </td>
                            <td style="padding-right: 8px; vertical-align:middle;{!messageStyle}" >
                                <apex:outputText value="{!Message}" escape="false" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
    
    <script>
    	function PreventFocus() {
    		try {
    			document.getElementById('action-status-focuser').focus();
    		} catch (e) {  }
    	}
    </script>
</apex:component>