<apex:component >
<head>
  <link href="{!$Resource.reset_style}" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'/>
  <apex:includeScript value="{!URLFOR($Resource.jquerymin191)}"/>
<style>
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);
body {
    font-family: Open Sans, Arial, Helvetica, sans-serif !important;
}
*:focus {
    outline: 0;
}
h1, h2, h3, h4, h5, h6, .list .headerRow th, .list .headerRow th a {
    font-family: Open Sans;
    display:block;
}
a {
    color: #0072bc;
    text-decoration: none;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.header-wrapper {
    background: #c20000;
    float: left;
    width: 100%;
}
.logo {
    margin-left: -10px;
    float: left;
}
ul, menu, dir {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-start: 0;
}
ul li, ol li {
    margin-left: 0;
    padding-left: 0;
}
select, input {
    border: 1px solid #888;
    padding: 2px 5px;
    font-size: 12px;
    font-family: Open Sans;
}
.main-wrapper {
    width: 100%;
}
.fixed-container {
    width: 80%;
    margin: 0 10%;
}
.profile-status {
    width: 100%;
    float: left;
    text-align: right;
    color: #ccc;
    background: #fff;
    font-size: 12px;
}
.profile-status a {
    line-height: 30px;
    display:block;
    float: right;
    padding: 0 10px;
    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    margin-left: -1px;
}
.profile-status a:hover {
    background: #ececec;
    text-decoration: none;
}
.header-wrapper {
    background: #c20000;
}
.main-content {
    min-height: 300px;
    margin-top: 20px;
    float: left;
    width: 100%;
}
#primary-navigation {
    margin: 5px 0 0 0;
    float: left;
    width: 100%;
}
#primary-navigation li {
    margin-right: 3px;
    text-align: center;
    float: left;
}
#primary-navigation li.active a {
    background: #000;
    margin-top: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3b3b3b), to(#010101));
    background-image: -webkit-linear-gradient(top, #3b3b3b, #010101);
    background-image: -moz-linear-gradient(top, #3b3b3b, #010101);
    background-image: -ms-linear-gradient(top, #3b3b3b, #010101);
    background-image: -o-linear-gradient(top, #3b3b3b, #010101);
    background-image: linear-gradient(top, #3b3b3b, #010101);
    line-height: 52px;
    margin-top: -5px;
}
#primary-navigation li.active a:hover, #primary-navigation li.active a:focus {
    background: #0d0d0d; /*Old browsers*/
    background: -moz-linear-gradient(top, #7c7e7e 0%, #333333 100%); /*FF3.6+*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c7e7e), color-stop(100%, #333333)); /*Chrome,Safari4+*/
    background: -webkit-linear-gradient(top, #7c7e7e 0%, #333333 100%); /*Chrome10+,Safari5.1+*/
    background: -o-linear-gradient(top, #7c7e7e 0%, #333333 100%); /*Opera 11.10+*/
    background: -ms-linear-gradient(top, #7c7e7e 0%, #333333 100%); /*IE10+*/
    background: linear-gradient(to bottom, #7c7e7e 0%, #333333 100%); /*W3C*/
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7e7e', endColorstr='#333333', GradientType=0 ); /* IE6-9 */
}
#primary-navigation a {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: block;
    line-height: 47px;
    color: #fff;
    text-decoration: none;
    background: #ab0000;
    font-size: 15px;
    padding: 0 23px;
    font-weight: 700;
}
#primary-navigation a:hover, #primary-navigation a:focus {
    background: #d03e3e;
}
#secondary-navigation {
    float: left;
    position: relative;
    width: 100%;
    margin-top: 25px;
    overflow: hidden;
}
#secondary-navigation ul {
    float: left;
    clear: left;
    text-align: center;
    margin: 0;
}
#secondary-navigation ul li {
    display: block;
    float: left;
}
#secondary-navigation ul li a {
    background: #282828;
    padding: 0 15px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    font-weight: 300;
    margin-left: 2px;
    line-height: 40px;
    float: left;
}
#secondary-navigation ul li.active a, #secondary-navigation ul li a:hover, #secondary-navigation ul li a:focus {
    background: #4d4d4d;
}
.secondary-nav-bg {
    background: #000;
    float: left;
    width: 100%;
}
#nav-search-text {
    width: 170px;
    padding: 6px 30px 6px 6px;
    border: 0;
    color: #000;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #900;
    line-height: 18px;
}
#nav-search-icon {
    position: absolute;
    right: 5px;
    top: 14px;
}
.search-wrapper {
    float: right;
    width: auto;
    position: relative;
    margin-top: 10px;
}
.footer {
    float: left;
    margin: 20px 0;
    width: 100%;
    color: #777;
}
.footer a {
    color: #777;
}
.box-left-panel {
    float: left;
    width: 200px;
}
.box-links {
    float: left;
    width: 200px;
    margin-top: 20px;
}
.box-links a {
    display: block;
}
.mid-box {
    float: left;
    width: 790px;
    margin: 20px 0;
}
.search-panel {
    width: 18%;
    padding: 1%;
    float: left;
    background: #f9fcf7;
    -webkit-box-shadow: 0px 1px 3px 0px #999;
    box-shadow: 0px 1px 3px 0px #999;
    margin-top: 10px;
}
.wrapper-data-search {
    width: 80%;
    float: left;
}
.button-list-search {
    width: 80%;
    margin: 0 10%;
    float: left;
}
.button-list-search ul li {
    float: left;
    width: 33.3%;
}
.button-list-search ul {
    float: left;
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    margin: 10px 0;
}
.button-list-search ul li a {
    display: block;
    padding: 5%;
    text-align: center;
    line-height: 12px;
    color: #000;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #d3d3d3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #d3d3d3));
    background: -webkit-linear-gradient(top, #eeeeee 0%, #d3d3d3 100%);
    background: -o-linear-gradient(top, #eeeeee 0%, #d3d3d3 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%, #d3d3d3 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, #d3d3d3 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d3d3d3', GradientType=0 );
    border-bottom: 1px solid #999;
}
.button-list-search ul li a:hover {
    color: #333;
}
.button-list-search ul li.active a, .button-list-search ul li.active a:hover {
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6 0%, #efeded 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d6d6d6), color-stop(100%, #efeded));
    background: -webkit-linear-gradient(top, #d6d6d6 0%, #efeded 100%);
    background: -o-linear-gradient(top, #d6d6d6 0%, #efeded 100%);
    background: -ms-linear-gradient(top, #d6d6d6 0%, #efeded 100%);
    background: linear-gradient(to bottom, #d6d6d6 0%, #efeded 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#efeded', GradientType=0 );
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #666
}
.info-data-search {
    width: 100%;
    float: left;
}
/*input[type="text"] {
    border: 1px solid #666;
    padding: 2%;
    margin: 2%;
    width: 89%;
    background: #fff;
    color: #000;
}*/
.search-panel table td {
    color: #444;
    font-family: Open Sans !important;
}
.search-panel .Custom41Tab .secondaryPalette, .individualPalette .Custom41Block .secondaryPalette {
    border: none;
}
.search-panel select {
    width: 95%;
    color: #444;
    font-size: 12px;
    font-family: Open Sans !important;
}
.search-panel input[type="submit"] {
    font-weight: bold;
    padding: 5%;
    width: 100%;
    font-size: 12px;
    border: 1px solid #ccc;
    background: #fcfff4;
    background: -moz-linear-gradient(top,  #fcfff4 0%, #e9e9ce 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce));
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%);
    background: -o-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%);
    background: -ms-linear-gradient(top,  #fcfff4 0%,#e9e9ce 100%);
    background: linear-gradient(to bottom,  #fcfff4 0%,#e9e9ce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 );
}
.search-panel input[type="submit"]:active {
    background: #e9e9ce;
    background: -moz-linear-gradient(top,  #e9e9ce 1%, #fcfff4 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e9e9ce), color-stop(99%,#fcfff4));
    background: -webkit-linear-gradient(top,  #e9e9ce 1%,#fcfff4 99%);
    background: -o-linear-gradient(top,  #e9e9ce 1%,#fcfff4 99%);
    background: -ms-linear-gradient(top,  #e9e9ce 1%,#fcfff4 99%);
    background: linear-gradient(to bottom,  #e9e9ce 1%,#fcfff4 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9ce', endColorstr='#fcfff4',GradientType=0 );
    -webkit-box-shadow: inset 0 1px 3px #666;
    box-shadow: inset 0 1px 3px #666;
    border: 1px solid #BFBFBF;
    color: #666;
}
body .pbBody table.list tr.dataRow:hover th, body .pbBody table.list tr.dataRow:hover td {
background: #f0f0f0;
}
.bEditBlock input, .bEditBlock select, .bEditBlock img, .quickCreateModule input, .quickCreateModule select, .quickCreateModule img {
vertical-align: top;
}
ul.tabs-assign {
    float: left;
    width: 100%;
    margin: 20px 0 -1px 20px;
    position: relative;
}
ul.tabs-assign li{
    float: left;
}
ul.tabs-assign li a{
    font-weight: bold;
    border-radius: 2px 2px 0 0;
    overfloaw: hidden;
    display: block;
    padding: 5% 0;
    text-align: center;
    line-height: 12px;
    color: #000;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #d3d3d3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #d3d3d3));
    background: -webkit-linear-gradient(top, #eeeeee 0%, #d3d3d3 100%);
    background: -o-linear-gradient(top, #eeeeee 0%, #d3d3d3 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%, #d3d3d3 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, #d3d3d3 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d3d3d3', GradientType=0 );
    border-bottom: 1px solid #999;
    float: left;
    width: 170px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-top: 2px solid #999;
    margin-left: 1px;
}
ul.tabs-assign li a:hover{
        text-decoration: none;
        color: #ba1e1e;
}
ul.tabs-assign li a.active{
    background: #ededed;
    background: -moz-linear-gradient(top,  #ededed 0%, #fcfcfc 87%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(87%,#fcfcfc));
    background: -webkit-linear-gradient(top,  #ededed 0%,#fcfcfc 87%);
    background: -o-linear-gradient(top,  #ededed 0%,#fcfcfc 87%);
    background: -ms-linear-gradient(top,  #ededed 0%,#fcfcfc 87%);
    background: linear-gradient(to bottom,  #ededed 0%,#fcfcfc 87%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#fcfcfc',GradientType=0 );
    border-bottom: 1px solid #FCFCFC;
    border-top: 2px solid #ba1e1e;
    font-weight: bold;
    color: #ba1e1e;
    margin-bottom: -1px;
}
.wrapper-tab-assign {
    border: 1px solid #999;
    padding: 2%;
    float: left;
    width: 96%;
    background: #FCFCFC;
}
.bPageBlock, .individualPalette .bPageBlock {
    margin-top: 10px;
    border: none;
}
.bPageBlock .pbBody {
    padding: 0;
}
.btn-small {
    border: 1px solid #777;
    padding: 5px 20px;
    background: #f0f9ff;
    color: #333;
    font-size: 10px;
    border-radius: 2px;
    background: #fcfcfc;
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#eeeeee 100%);
    background: linear-gradient(to bottom,  #fcfcfc 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#eeeeee',GradientType=0 );
}
.list .headerRow th, .list .headerRow th a {
    border-bottom: 1px solid #666;
    background: #777;
    color: #fff;
    border-top: 1px solid #666;
}
.list td, .list th, body.oldForecast .list .last td, body.oldForecast .list .last th {
    border-bottom: 1px solid #ccc;
}
.tbl-style {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.pbBody a, .lbBody a {
    color: #0072bc;
}
.pbBody a:hover, .lbBody a:hover {
    color: #0072bc;
    text-decoration: underline;
}
</style>

  </head>
  
  </apex:component>