<apex:component >
	<div id="primary-navigation">
	<ul>
		<li><a href="#">Product Research</a></li>
		<li><a href="#">Strategic Research</a></li>
		<li><a href="#">Tools</a></li>
		<li><a href="#">Solution Trading</a></li>
		<li><a href="#">Training</a></li>
	</ul>
	</div>
	<!--primary-navigation -->
</apex:component>